.product{
   width: 300px;
   height: 510px;
   border: 1px solid #95A0A7;
   border-radius: 8px;
   position: relative;
   
}
.product img{
   width: 286px;
   height: 286px;
   border-radius: 8px;
   margin: 7px;

}
.product-info{
   margin: 0 14px;
}
.product-info p{
   margin: 0;
   margin-top: 5px;
}
.product-name{
   font-size: 21px;
   font-weight: 400;
   font-style: normal;
   line-height: 25px;
   margin-top: 7px;
}
.btn-cart{
   width: 100%;
   border: none;
   border-radius: 0px 0px 8px 8px;
   background-color: #95A0A7;
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.btn-cart-text{
   margin-right: 5px;
}
.btn-cart:hover{
   background-color: rgb(123, 175, 175);
}